Recuperando senha - EMAIL COM APENAS TEXTO

Solicitação de recuperação de senha foi realizado para o e-mail({{ email }}).
Troque sua senha caso não foi você que solicitou

Para continuar, utilize o token {{ token }} ou clique no link abaixo


